<!DOCTYPE html>
<html>
  <head>
    <title>Twitter Trends Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      .trend {
        padding: 15px;
        float: left;
	direction: ltr;
	max-height: 20px;
      }
    </style>
    <!-- Bootstrap -->
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script>
      (function worker() {
	$.ajax({
	  url: '/api', 
	  success: function(data) {
	    var resultsToShow = 50;
	    $('.result').empty();
	    var total = 0;
            for (var i = 0; i < resultsToShow; i++) {
	      total += data[i]["count"];
	    }
            for (var i = 0; i < resultsToShow; i++) {
	      var percent = data[i]["count"] / total * 100;
	      var size = Math.max(Math.min(40, percent * 20), 10);
              var word = $('<div class="trend"></div>')
	      var link = $('<a href="http://www.twitter.com/search?q=' + data[i]["hashtag"] + '"></a>')
	      word.append(link);
	      link.html(data[i]["hashtag"]).css( "font-size", size + "px").css("direction", "ltr");
	      $('.result').append(word);
	    }
	  },
	  complete: function() {
	    // Schedule the next request when the current one's complete
	    setTimeout(worker, 1000);
	  }
	});
      })();
    </script>
  </head>
  <body>
    <div class="result"></div>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
